
table{
     width: 100%
}
h1{
    text-align: center;
}
td,th {
    border: 2px solid red;
    width: 14.27%;

}th{
    padding: 8px 0;
 }
 td{
     font-weight: bold;
     font-size: 24px;
     padding-bottom: 32px;
 }
 .weekend{
     background-color: black;
     color: darkred;
 }
.weekday{
      background-color: indianred;
      color: darkred;
  }
.holiday {
    background-color: gray;
    color: darkred;
}
.rally {
    background-color: darkblue;
    color: darkred;
}
.days {
    background-color: darkgoldenrod;
    color: darkred;
}

